*{
    margin: 0;

    body{
        .head{
            padding-top: 2rem;
            display: flex;
            row-gap: 1rem;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 39vh;
        }
    }
}