*{
    margin: 0;
    padding: 0;

    body{
        width: 80%;
        margin: auto;
        background-color: antiquewhite;
        .head{
            label{
                text-transform: capitalize;
            }
            padding-top: 2rem;
            display: flex;
            row-gap: 1rem;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}
table{
    width: 100%;
    text-align: center;

}
button{
    margin: 10px 0;
    color:white;
    height: 30px;
    width: 100px;
    background-color: blueviolet;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: 0.5s;
}
button:hover{
    background-color: rgb(67, 87, 221);
    letter-spacing: 1px;
}
input,#status{
    height: 30px;
    width: 40%;
}
#discription{
    height: 80px;
    width: 40%;
}

#status{
    text-transform: capitalize;
}